.DS_Store
SailingRoute.xcodeproj/project.xcworkspace/xcuserdata/jtrent.xcuserdatad/UserInterfaceState.xcuserstate
SailingRoute.xcworkspace/xcuserdata/jtrent.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate