UserInterfaceState.xcuserstate
build
*.pbxuser
*.perspectivev3
*.mode1v3
*~
*~.nib
*~.xib
.DS_Store
xcuserdata/
*.xcuserstate
*xcworkspace/xcuserdata/*
*/xcuserdata/*
xcuserdata/*
SailingRoute.xcodeproj/project.xcworkspace/xcuserdata/jtrent.xcuserdatad/UserInterfaceState.xcuserstate
SailingRoute.xcworkspace/xcuserdata/jtrent.xcuserdatad/UserInterfaceState.xcuserstate
